/.* export-ignore
/tests export-ignore
/example export-ignore
/vendor export-ignore
CHANGELOG.md export-ignore
docker-compose.yml export-ignore
index.php export-ignore
phpstan.neon.dist export-ignore
phpunit.xml.dist export-ignore